@import 'tailwindcss';

:root {
  --background: #0D1117;
  --foreground: #161B22;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D1117;
    --foreground: #161B22;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Helvetica, sans-serif;
}
